node_modules
coverage
dist
.DS_Store

# these cause more harm than good
# when working with contributors
package-lock.json
yarn.lock
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
